@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
body{
    background-color: rgb(15, 14, 14);
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.content{
    display:flex;
    flex-direction: column;
    padding: 0 30px;
}
.part1{

   
    width:100%;
    border-bottom: 1px white solid;
 


}
.part2{
   
   
    width:100%;
  
}
.part3{
   background-color: rgb(29, 28, 28);
   

    width:100%;
    
   
}
.title{
    color:white;
    font-family:"PT Sans Narrow" ;
}
nav{ 
    display:flex;
    justify-content: space-between;
    padding: 15px 20px;

}
.icons{
    display:flex;
    gap:10px;
}
.description h1{
    color: white;
    
}
.description p{
   padding: 15px;
   color: rgb(162, 161, 161);
   font-size: 12px;
}
.description a{
    color:white;
    
}
.descriptiontext{
    display:flex;
    flex-direction: column;
    padding: 20px;
  font-size: 20px ;

   
}
.description{
    background-image: url(photo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 90%;
  
 
    
}
.contact{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
.input{
    background-color: rgb(29, 28, 28);
    border:none;
    border-bottom: 1px solid gray;
    padding:10px;
}
form{
    display:flex;
    flex-direction: column;
    gap:10px;
   
}
form #mes{
    height:35px;
}
.description2{
    display:flex;
    justify-content: space-between;
    padding: 20px 50px;

    border-bottom:1px solid white;
   
}
.description2 .para{
    color: white;
    display: flex;
    flex-direction: column;
    padding:40px;
   
}
.para p{
    color: gray;
    font-size:12px;
    padding:15px 0;
}
form button
{
    background-color: rgb(29, 28, 28);
    color: white;
    border:none;
    padding: 10px;
    border-bottom: 1px aqua solid;
    width:150px;
    text-align: right;
}
.part2 .entete{
    display:flex;
    justify-content: space-between;
    align-items: start;
    color:white;
}
.entete a{
    color: white;
    text-decoration: none;
    border-bottom: 1px aqua solid;
  
}
.skills{
    display:flex;
    color:white;
    gap:20px;
    justify-content: center;
    padding: 20px;
}
.skills p{
    color: gray;
    text-align: center;
}
img{
    width:250px;
    padding: 20px;
   
}
.projectGrid{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
.pro{
    display:flex;
    flex-direction: column;
    text-align: center;
    color: rgb(183, 179, 179);

}
.icons:hover{
    cursor: pointer;
}
a:hover{
    color:rgb(65, 199, 244);
    scale:1.1;
}
@media (max-width: 600px)
{
    .description{
        background-color: rgb(29, 28, 28);
        background-image: none;
        
    }
    .skills{
        font-size: 10px;
    }
    .projectGrid{
       
        justify-content: center;
    }
    .description2{
        display:flex;
        flex-direction: column;
    }

}