@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    
}
.parent{
    display:grid;
    height:100vh;
    grid-template-columns:repeat(9,1fr);
    grid-template-rows: repeat(8,1fr) ;
    grid-template-areas: 
    "side nav nav nav nav nav nav nav nav "
    "side c1 c1 c1 c1 c1 c1 c1 c1"
    "side c1 c1 c1 c1 c1 c1 c1 c1"
    "side c1 c1 c1 c1 c1 c1 c1 c1"
    "side c3 c3 c3 c3 c4 c4 c4 c4"
    "side c3 c3 c3 c3 c4 c4 c4 c4"
    "side c3 c3 c3 c3 c4 c4 c4 c4"
    "side c3 c3 c3 c3 c4 c4 c4 c4"
    ;
}
 /*.parent .c{
    border:black solid 1px;
}*/
.parent .sidebar{
    background-color: white;

}
.parent .navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar .menu ul{
  list-style: none;
  display:flex;
  justify-content: space-between;
  gap:10px;
}
.navbar .menu{
    display:flex;
    gap:15px;
    cursor: pointer;
    
}
.navbar .menu button{
    border-radius: 3px;
    width:80px;
    height:25px;
    background-color: rgb(235, 119, 119);
    border:none;
    color:white;
    font-size:11px ;
  

}
.navbar{
    position:fixed;
    background-color: white;
    width:95%;
  

}
.navbar .logo{ font-family: "satisfy";
   font-size:x-large;
   padding-left:50px;

}
 .blog{
  font-size:18px;
  text-decoration: underline ;
 
}
.navbar .menu button:hover{
    background-color: rgb(253, 73, 73);
    scale:1.2;
}
.c1 img{
    width:60%;
    height:80%;
    border-radius: 4px;
}


.c1{ padding:15px ;
    display:flex;
    width:100%;
    
    
}
.c1 .description{
    padding:15px;
}
p{
    font-size: 14px;
    color: rgb(90, 88, 88);
}
.c3 img{
    width:80%;
    height:80%;
    border-radius: 4px;
}
.c3{
    display:flex;
    flex-direction: column;
    gap:5px;
    padding-top:60px;
}
.c4 img{
    width:80%;
    height:80%;
    border-radius: 4px;
}
.c4{
    display:flex;
    flex-direction: column;
    gap:5px;
    padding:15px;
    padding-top:60px;
}
.writer{
    display:flex;
    gap:10px;
    padding: 10px;
}
.writer img{
    width:20px;
    border-radius: 100%;
}
img:hover{
   translate: 30px;
}
@media (max-width:600px)
{
    .c1{
        display:flex;
        flex-direction: column;
        padding:15px ;
        justify-content: center;
        align-items: center;
    }
}







.navbar{ grid-area:nav;

}
.sidebar{
   grid-area:side;
}
.c1{
   grid-area:c1;
}

.c3{  grid-area:c3;

}
.c4{
    grid-area:c4;
}
